<div class="panel panel-default">
    <div class="panel-heading">
        <h5>{{ convertToDate({date: wDay.dt}) | date: dateFormat }}</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-offset-2 col-md-4"> <img ng-src="http://openweathermap.org/img/w/{{wDay.weather[0].icon}}.png"></div>
            <div class="col-md-4">
                <h4> {{ convertToStandard({tempUnit:selectedTempUnit, temp: wDay.temp.day}) }}&deg{{selectedTempUnit}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2">{{wDay.weather[0].description}}</div>
        </div>
    </div>
</div>
